* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

:root{
    --x: 300px;
    --y: 300px;
}

main {
    width: 100%;
    height: 100%;
    background-size: cover;

     #bgVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    #box{
        width: 100%;
        height: 100%;
        background: radial-gradient(200px at var(--x) var(--y) ,rgb(255,255,255,0), rgb(0,0,0));
    }
}