* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

:root{
    --x: 300px;
    --y: 300px;
}

main {
    width: 100%;
    height: 100%;
    position: relative; 

     #bgVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    #box{
        width: 100%;
        height: 100%;
        background: radial-gradient( circle 300px at var(--x) var(--y), 
        rgba(255, 255, 255, 0.35) 0%,
        rgba(255, 255, 255, 0.10) 20%,
        rgba(0, 0, 0, 0.85) 70%,
        rgba(0, 0, 0, 0.9) 100%
);

    }
}